<style>

		.img1 {

			height: 60px;

			width: 60px;

		}

		.img2 {

			height:150px;

			width: 130px;

		}

		.img3 {

			height: 300px;

			width: 1000px;

		}

		.titulo1 {

			font-family:"Helvetica,Arial";

			color: hotpink;

			font-size: 40px;
 
		}

		img {

			height: 250px;

			width: 450px;

		}
 
 table{
 	text-alingn:center;
 	background-color:#c03f47
 	opacity:;
	</style>

</head>

<body>

<table border="1">

	<tr>

		<td colspan="4" class="titulo1">Nike <img src="nike logo.png" class="img1"></td>

	</tr>

	<tr>

	<td colspan="2"><center>Inicio</center></td>

	<th colspan="2"><center>Productos</center></th>

	</tr>

	<tr>

		<td><center><img src="" class="img2"></center></td>

		<td><center><img src="jordan4.webp" class="img2"></center></td>

		<td><center><img src="dunk jarritos.webp" class="img2"></center></td>

		<td><center><img src="nike sb.jpeg" class=""></center></td>

	</tr>

	<tr>

		<td>phamtom gx elite<br>$6.500</td>

		<td>jordan4<br>$5000</td>

		<td>dunk jarritos<br>$6000</td>

		<td>nike sb <br>$14.500</td>

	</tr>

	<tr>


	</tr>

	<tr>


	</tr>

	<tr>

		<td><center><img src="" class="img2"></center></td>

		<td><center><img src="" class="img2"></center></td>

		<td><center><img src="nikeb.webp" class="img2"></center></td>

		<td><center><img src="nike cr7.webp" class="img2"></center></td>

	</tr>

	<tr>

		<td>Nike Tiempo Legend 10 elite<br>$6500</td>

		<td>Nike Mercurial Superfly 9 elite<br>$6700</td>

		<td>Nike Mercurial Vapor 15 elite<br>$7000</td>

		<td>Nike Zoom Mercurial cr7 <br>

$7,499</td>

	</tr>
 
 
 
	<tr>

		<td colspan="4"><img src="nike img3.png" class="img3"></td>

	</tr>

	<tr><center>

		<th colspan="4">CyberWeekend | 25% de descuento</th></center>

	</tr>

